body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 /* Load Animation for desktop */

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 122px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid rgb(69, 95, 209);
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
}

.container-of-containerimg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1076%26quot%3b)' fill='none'%3e%3cpath d='M -192.55830421661892%2c173 C -48.56%2c209.4 239.44%2c350 527.4416957833811%2c355 C 815.44%2c360 959.44%2c184.2 1247.441695783381%2c198 C 1535.44%2c211.8 1928.93%2c442.6 1967.441695783381%2c424 C 2005.95%2c405.4 1545.49%2c168.8 1440%2c105' stroke='rgba(0%2c 125%2c 255%2c 0.14)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -1235.5404456398949%2c212 C -1091.54%2c244.8 -803.54%2c399.8 -515.5404456398949%2c376 C -227.54%2c352.2 -83.54%2c104.6 204.45955436010513%2c93 C 492.46%2c81.4 677.35%2c282.6 924.4595543601051%2c318 C 1171.57%2c353.4 1336.89%2c279.6 1440%2c270' stroke='rgba(0%2c 125%2c 255%2c 0.14)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -1372.438193413217%2c205 C -1228.44%2c241.2 -940.44%2c406 -652.438193413217%2c386 C -364.44%2c366 -220.44%2c95.8 67.56180658678295%2c105 C 355.56%2c114.2 513.07%2c402.6 787.561806586783%2c432 C 1062.05%2c461.4 1309.51%2c288 1440%2c252' stroke='rgba(0%2c 125%2c 255%2c 0.14)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -229.4562845489461%2c398 C -85.46%2c332.2 202.54%2c83.8 490.5437154510539%2c69 C 778.54%2c54.2 922.54%2c327.6 1210.543715451054%2c324 C 1498.54%2c320.4 1884.65%2c44.2 1930.543715451054%2c51 C 1976.43%2c57.8 1538.11%2c296.6 1440%2c358' stroke='rgba(0%2c 125%2c 255%2c 0.14)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -750.3549880383827%2c419 C -606.35%2c389.6 -318.35%2c287.8 -30.354988038382604%2c272 C 257.65%2c256.2 401.65%2c339.8 689.6450119616173%2c340 C 977.65%2c340.2 1259.57%2c277.4 1409.6450119616175%2c273 C 1559.72%2c268.6 1433.93%2c309 1440%2c318' stroke='rgba(0%2c 125%2c 255%2c 0.14)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -777.8071347819593%2c254 C -633.81%2c284 -345.81%2c423 -57.80713478195932%2c404 C 230.19%2c385 374.19%2c143.2 662.1928652180407%2c159 C 950.19%2c174.8 1226.63%2c461.2 1382.1928652180407%2c483 C 1537.75%2c504.8 1428.44%2c311 1440%2c268' stroke='rgba(0%2c 125%2c 255%2c 0.14)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -930.454391459893%2c310 C -786.45%2c283.6 -498.45%2c136.8 -210.45439145989297%2c178 C 77.55%2c219.2 221.55%2c501.2 509.545608540107%2c516 C 797.55%2c530.8 1043.45%2c295.6 1229.545608540107%2c252 C 1415.64%2c208.4 1397.91%2c288.8 1440%2c298' stroke='rgba(0%2c 125%2c 255%2c 0.14)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1076'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.container-image {
  display: flex;
  justify-content: space-around;
  width: 70rem;
}
/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  
}
.column img {
  margin-top: 2rem;
  width: 95%;
  box-shadow: 1px 1px 10px 5px rgb(150, 150, 150);
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1rem 0.5rem 0 0.5rem;
  font-family: "Passero One";
  background-color: rgb(255, 255, 255);
}
.header h1 {
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
}
.navigation {
  display: flex;
  justify-content: center;
}
.navigation a {
  font-size: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  color: rgb(71, 71, 71);
  font-family: "Passero One";
  text-align: center;
}

.navigation a:hover {
  color: black;
}
.navigation2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu_button {
  display: none;
}

.show_button {
  display: block;
}

.image-button {
  display: flex;
  justify-content: center;
  margin-top: -1rem;
}
.menu-div {
  display: flex;
  z-index: 1;
  height: 100%;
  width: 26rem;
  background-color: rgb(0, 0, 0);
  opacity: 0.7;
  position: absolute;
  left: 14rem;
  top: -7rem;
  display: none;
  transition: 1s ease-in;
  transform: translateX(-14rem);
}
.animate_bottom {
  position: relative;
}
.show_my_menu {
  display: block;
}
.cover {
  height: 100vh;
  width: 100%;
  background-image: url("mobile_img/eu-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -20rem;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.landing-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 8rem;
  left: 8rem;
  width: 50rem;
  height: 10rem;
}
.cover h1 {
  font-size: 3rem;
  letter-spacing: 0.6rem;
  font-weight: 600;
  text-shadow: 5px 5px 10px blue;
  opacity: 0.7;
}
.cover p {
  font-family: "Passero One";
  font-size: 1.2rem;
  letter-spacing: 0.4rem;
  text-shadow: 5px 5px 10px blue;
  opacity: 0.7;
}
.buttons-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15rem;
}
#learn-more {
  background-color: blue;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
  transition: .3s;
}
#learn-more:hover {
 background-color: rgba(255, 242, 216, 0.8);
 color: blue;
}
#contact-me {
  border: none;
  background-color: transparent;
  border-radius: 4px;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
  transition: .3s;
}
#contact-me:hover {
  background-color: rgba(209, 199, 144, 0.4);
  opacity: 0.9;
  filter: alpha(opacity=90);
  color: white;
 }
@media screen and (max-width: 600px) {
  /* Load Animation for mobile */

  #loader {
    position: absolute;
    left: 55%;
    top: 55%;
    z-index: 1;
    width: 122px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid rgb(69, 95, 209);
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    50% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(360deg);
    }
  }
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0.5rem 0 0.5rem;
    font-family: "Passero One";
    background-color: rgb(255, 255, 255);
  }
  .navigation {
    display: flex;
    justify-content: center;
  }
  .navigation a {
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    color: rgb(71, 71, 71);
    font-family: "Passero One";
    text-align: center;
  }

  .navigation a:hover {
    color: black;
  }
  .navigation2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu_button {
    display: block;
    cursor: pointer;
  }
  .image-button {
    display: flex;
    justify-content: center;
    margin-top: -1rem;
  }
  .menu-div {
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
    position: absolute;
    left: 14rem;
    top: -0.2rem;
    display: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Passero One";
    transform: translateX(-14rem);
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
  }
  .collapsed_menu {
    height: 31rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .collapsed_menu a {
    font-size: 1.8rem;
    color: white;
    padding-top: 1rem;
    opacity: 0.7;
  }
  .animate_bottom {
    position: relative;
  }
  .show_my_menu {
    display: block;
  }
  .cover {
    height: 110vh;
    width: 100vw;
    background-image: url("mobile_img/eu-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -45rem -10rem;
    background-attachment: fixed;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  .landing-div {
    top: 20rem;
    left: -12rem;
    justify-content: space-evenly;
  }
  .cover h1 {
    letter-spacing: 4px;
    font-size: 1.5rem;
  }
  .cover p {
    letter-spacing: 0;
    font-size: 1rem;
    font-family: "Passero One";
  }
  .header h1 {
    font-size: 1.5rem;
    padding-bottom: 0.2rem;
    letter-spacing: 0;
  }
  .navigation {
    display: none;
  }
  .navigation2 a {
    display: block;
  }
  .menu_button {
    display: block;
  }
}
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
.column {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.active {
  transform: translateY(0);
  opacity: 1;
}
