body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 /* Load Animation for desktop */

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 122px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid rgb(69, 95, 209);
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
}

.container-of-containerimg {
  display: flex;
  justify-content: center;
  align-items: center;
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1012%26quot%3b)' fill='none'%3e%3cpath d='M176 9L-888 8' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1013%26quot%3b)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M1337 555L640 554' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1013%26quot%3b)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M231 395L1058 394' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1013%26quot%3b)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M165 454L1145 453' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1014%26quot%3b)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M572 160L1397 159' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1013%26quot%3b)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M693 190L-336 189' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1014%26quot%3b)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M493 269L-397 268' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1013%26quot%3b)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M76 552L837 551' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1013%26quot%3b)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M879 335L1953 334' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1013%26quot%3b)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M950 396L1942 395' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1014%26quot%3b)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M1380 219L931 218' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1014%26quot%3b)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M1265 323L2320 322' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1013%26quot%3b)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M1357 215L1970 214' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1014%26quot%3b)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M1215 330L562 329' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1014%26quot%3b)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1012'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='0%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1013'%3e%3cstop stop-color='rgba(32%2c 87%2c 129%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(32%2c 87%2c 129%2c 0.26)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='0%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1014'%3e%3cstop stop-color='rgba(32%2c 87%2c 129%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(32%2c 87%2c 129%2c 0.26)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");}

.container-image {
  display: flex;
  justify-content: space-around;
  width: 70rem;
}
/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
.column img {
  margin-top: 2rem;
  width: 95%;
  box-shadow: 1px 1px 8px 4px rgb(184, 190, 255);
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1rem 0.5rem 0 0.5rem;
  font-family: "Passero One";
  background-color: rgb(255, 255, 255);
}
.header h1 {
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
}
.navigation {
  display: flex;
  justify-content: center;
}
.navigation a {
  font-size: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  color: rgb(71, 71, 71);
  font-family: "Passero One";
  text-align: center;
}

.navigation a:hover {
  color: black;
}
.navigation2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu_button {
  display: none;
}

.show_button {
  display: block;
}

.image-button {
  display: flex;
  justify-content: center;
  margin-top: -1rem;
}
.menu-div {
  display: flex;
  z-index: 1;
  height: 100%;
  width: 26rem;
  background-color: rgb(0, 0, 0);
  opacity: 0.7;
  position: absolute;
  left: 14rem;
  top: -7rem;
  display: none;
  transition: 1s ease-in;
  transform: translateX(-14rem);
}
.animate_bottom {
  position: relative;
}
.show_my_menu {
  display: block;
}
.cover {
  height: 100vh;
  width: 100%;
  background-image: url("mobile_img/eu-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -20rem;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.landing-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 8rem;
  left: 8rem;
  width: 55rem;
  height: 12rem;
  padding: 1.5rem;
  border-radius: 8px;
}
.cover h1 {
  font-size: 3rem;
  letter-spacing: 0.6rem;
  font-weight: 600;
  text-shadow: 5px 5px 10px blue;
  opacity: 0.9;
}
.cover p {
  font-family: "Passero One";
  font-size: 1.2rem;
  letter-spacing: 0.4rem;
  text-shadow: 5px 5px 10px blue;
  opacity: 0.7;
  margin: 8px;
}
.buttons-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 16rem;
  margin: 8px;
}
#learn-more {
  background-color: blue;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 11px 19px;
  cursor: pointer;
  transition: .3s;
}
#learn-more:hover {
 background-color: rgba(255, 242, 216, 0.8);
 color: blue;
}
#contact-me {
  border: none;
  background-color: white;
  border-radius: 4px;
  color: rgb(37, 36, 36);
  padding: 10px 18px;
  cursor: pointer;
  transition: .3s;
}
#contact-me:hover {
  background-color: rgb(0, 0, 0);
  color: white;
 }




@media screen and (max-width: 600px) {
  /* Load Animation for mobile */

  #loader {
    position: absolute;
    left: 55%;
    top: 55%;
    z-index: 1;
    width: 102px;
    height: 100px;
    border: 16px solid #defffd;
    border-radius: 50%;
    border-top: 10px solid rgb(69, 95, 209);
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    50% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(360deg);
    }
  }
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .row {
    padding: 0 2rem 0 2rem;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0.5rem 0 0.5rem;
    font-family: "Passero One";
    background-color: rgb(255, 255, 255);
  }
  .navigation {
    display: flex;
    justify-content: center;
  }
  .navigation a {
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    color: rgb(71, 71, 71);
    font-family: "Passero One";
    text-align: center;
  }

  .navigation a:hover {
    color: black;
  }
  .navigation2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu_button {
    display: block;
    cursor: pointer;
  }
  .image-button {
    display: flex;
    justify-content: center;
    margin-top: -1rem;
  }

  .show_my_menu {
    transform: translateX(-38rem);
    transition: 0.4s;
  }
  .menu-div {
    z-index: 1;
    height: 97vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    opacity: 0.85;
    position: absolute;
    left: 40rem;
    top: -0.2rem;
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Passero One";
  }
  .collapsed_menu {
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .collapsed_menu a {
    font-size: 1.8rem;
    color: white;
    padding-top: 1rem;
    opacity: 0.7;
  }
  .animate_bottom {
    position: relative;
  }
  .cover {
    height: 110vh;
    width: 100vw;
    background-image: url("mobile_img/eu-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -45rem -10rem;
    background-attachment: fixed;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  .landing-div {
    top: 20rem;
    left: -13.5rem;
    justify-content: space-evenly;
  }
  .cover h1 {
    letter-spacing: 4px;
    font-size: 1.3rem;

  }
  .cover p {
    letter-spacing: 0;
    font-size: 1rem;
    font-family: "Passero One";
  }
  .header h1 {
    font-size: 1.5rem;
    padding-bottom: 0.2rem;
    letter-spacing: 0;
  }
  .navigation {
    display: none;
  }
  .navigation2 a {
    display: block;
  }
  .menu_button {
    display: block;
  }
  .column {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .active {
    transform: translateY(0);
    opacity: 1;
  }
  
}
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
.column {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.active {
  transform: translateY(0);
  opacity: 1;
}
